<div class="relative flex flex-col p-4 text-gray-700 bg-white shadow-sm bg-clip-border rounded-md w-full min-w-full">
    <h3 class="font-bold pb-4">Account</h3>
    <hr/>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4">
        <div class="lg:w-1/5 w-full">
            <div class="flex lg:justify-start justify-center">
                <div class="relative w-24 h-24 overflow-hidden bg-gray-100 rounded">
                    <svg class="absolute w-28 h-28 text-gray-400 -left-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                </div>
            </div>
            <div class="flex justify-center lg:w-24">
                <a class="font-semibold text-sm text-blue-600 cursor-pointer hover:underline">Change</a>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>BABAR</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Email</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>{{'royal_bcn@hotmail.com'}}</div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Password</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>******</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Reset</a>
            </div>
        </div>
    </div>
</div>
<div class="relative flex flex-col p-4 mt-2 text-gray-700 bg-white shadow-sm bg-clip-border rounded-md w-full min-w-full">
    <h3 class="font-bold pb-4">Company</h3>
    <hr/>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4">
        <div class="lg:w-1/5 w-full">
            <div class="flex lg:justify-start justify-center">
                <div class="relative w-24 h-24 overflow-hidden bg-gray-100 rounded">
                    <svg class="absolute w-28 h-28 text-gray-400 -left-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                </div>
            </div>
            <div class="flex justify-center lg:w-24">
                <a class="font-semibold text-sm text-blue-600 cursor-pointer hover:underline">Change</a>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div class="flex flex-col">
                <div><h2 class="uppercase font-medium">Royal Barcelona 2000 S,L</h2></div>
                <div>{{'royal_bcn@hotmail.com'}}</div>
                <div>6652142578</div>
            </div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Business No</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>Tax Reg No.</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Address</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>This is temporary address, need to update this information</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>
</div>
<div class="relative flex flex-col p-4 mt-2 text-gray-700 bg-white shadow-sm bg-clip-border rounded-md w-full min-w-full">
    <h3 class="font-bold pb-4">Time & Region</h3>
    <hr/>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Country</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>Spain</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Language</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>Spanish</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Date format</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>25 Feb 2024</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Currency</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div class="uppercase">Eur (€)</div>
            <div>
                <a  class="font-medium text-blue-600 cursor-pointer hover:underline">Edit</a>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start items-stretch p-4 border-t border-gray-200">
        <div class="lg:w-1/5 w-full">
            <div class="flex justify-start w-24">
                <span class="font-semibold text-sm">Currency Format</span>
            </div>
        </div>
        <div class="lg:w-4/5 w-full flex flex-row justify-between">
            <div>Default</div>
        </div>
    </div>

</div>
