<div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
  <div class="px-0">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <div class="mt-10 grid grid-cols-1 gap-y-4 sm:grid-cols-6">
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="name" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Name*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="name" formControlName="name" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="phone" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Phone*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="phone" formControlName="phone" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="nif" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">NIF*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="nif" formControlName="nif" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="businessName" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Business Name*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="businessName" formControlName="businessName" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="cif" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">CIF*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="cif" formControlName="cif" 
                      class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm 
                      ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
                      focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="address" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Address*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="address" formControlName="address" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full flex flex-col w-full items-center">
                  <label for="address" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Address*</label>
                  <div class="mt-2 w-full">
                    <input type="text" name="address" formControlName="address" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
              </div>
              <div class="col-span-full">
                  <label for="additional-Information-field" class="block text-sm font-medium leading-6 text-gray-900">Additional Information</label>
                  <div class="mt-2">
                    <textarea id="additional-Information-field" name="additional-Information-field" formControlName="additionalInformation" rows="3" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                  </div>
                  <p class="mt-3 text-sm leading-6 text-gray-600">Write a few sentences about Lot if applicable.</p>
              </div>
          </div>
        </div>
      </div>
  </form>
  
  </div>
</div>
<div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
  <button type="button" class="inline-flex w-full justify-center rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 sm:ml-3 sm:w-auto">Save</button>
  <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
</div>