.dropdown-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-item-name {
    font-weight: bold;
  }
  
  .dropdown-item-details {
    font-size: 0.85em;
    color: #666;
  }