<p-toast position="top-right"></p-toast>
<app-page-header class="print:hidden" [heading]="'Proposal'" [heading2]="'Proposal'" [buttonLabel]="'Proposal'" (addClick)="onAddItem($event)" [showActionButton]="true"></app-page-header>
@if(proposal) {
    <div class="print:hidden mt-12 flex flex-col sm:flex-row w-full justify-between">
        <div class="m-4 flex flex-col justify-center">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 lg:space-x-2 rtl:space-x-reverse">
                  <li class="inline-flex items-center">
                    <a class="inline-flex items-center text-sm font-medium text-gray-700 ">
                      <i class="material-icons">description</i>
                      Documents
                    </a>
                  </li>
                  <li>
                    <div class="flex items-center">
                        <i class="material-icons">navigate_next</i>
                        <a  routerLink="/proposal" class="ms-1 text-sm font-medium cursor-pointer text-gray-700 hover:text-blue-600 lg:ms-2">
                            Proposals
                        </a>
                    </div>
                  </li>
                  <li aria-current="page">
                    <div class="flex items-center">
                      <i class="material-icons">navigate_next</i>
                      <span class="ms-1 text-sm font-medium text-gray-500 lg:ms-2 ">{{proposalId?.slice(-4)}}</span>
                    </div>
                  </li>
                </ol>
              </nav>
        </div>
        <div class="m-4 flex justify-end">
            <a (click)="printProposal()" class="cursor-pointer mr-2 inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full bg-zinc-900 py-1 px-3 text-white hover:bg-zinc-700 " >
                <span class="mr-2">Print</span> <span class="material-icons">print</span>
            </a>
            <a class="cursor-pointer mr-2 inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full bg-zinc-900 py-1 px-3 text-white hover:bg-zinc-700 " >
                <span class="mr-2">Send</span> <span class="material-icons">arrow_forward</span>
            </a>
            <a (click)="navigateToEditProposal(proposal._id)" class="cursor-pointer inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full bg-zinc-900 py-1 px-3 text-white hover:bg-zinc-700 " >
                <span class="mr-2">Edit</span> <span class="material-icons">edit</span>
            </a>
        </div>
    </div>
    <div class="print:hidden w-full inset-x-0 h-px transition bg-zinc-900 opacity-15"></div>
    <div class="custom-page-container w-full flex justify-center">
        <div class="container">
            <div class="bg-white rounded-t-3xl pt-0 lg:pt-0 lg:p-16 p-4 print:p-0">
                <div class="flex md:flex-row flex-col print:flex-row items-start justify-between gap-6 mt-10">
                    <div>
                        @if(proposal.company.logo) {
                            <div class="flex justify-start">
                                <div class="flex justify-center items-center w-24 h-24 overflow-hidden rounded">
                                    <img class="text-gray-400" [src]="completeUrl(proposal.company.logo)" alt="">
                                </div>
                            </div>
                        }
                        <h4 class="text-2xl print:text-lg font-bold uppercase">{{proposal.company.name}}</h4>
                    </div>
                    <div class="border-s border-gray-900 ps-8">
                        <h4 class="text-base print:text-sm font-bold uppercase">Proposal</h4>
                        <h4 class="text-sm font-bold uppercase">{{proposal.company.name}}</h4>
                        <p class="text-sm font-medium uppercase max-w-52">{{proposal.company.address}}</p>
                        <!-- AV/ Juveria Calle Aceria 7C Gijon Asturias 33211 -->
                        <p class="text-sm font-medium">{{proposal.company.phone}}</p>
                        <p class="text-sm font-medium">{{proposal.company.email}}</p>
                    </div>
                </div>
    
                <div class="flex md:flex-row flex-col print:flex-row items-start justify-between my-10 print:my-2 mr-2">
                    <div>
                        <span class="text-lg font-bold print:text-base print:font-semibold">Proposal to:</span>
                        <h4 class="text-base font-bold print:text-sm print:font-semibold">{{proposal.customer.name}}
                        @if(proposal.customer.businessName) {
                            <span> ({{proposal.customer.businessName}})</span>
                        }
                        </h4>
                    </div>
                    <div class="flex flex-col items-end border-s border-gray-900 ps-8">
                        <p class="text-base font-semibold print:text-sm print:font-bold flex justify-between w-52"><span>Proposal #</span> <span class="ps-10 text-sm">{{proposal._id.slice(-4)}}</span></p>
                        <p class="text-base font-semibold print:text-sm print:font-bold flex justify-between w-52"><span>Date: </span> <span class="ps-10 text-sm">{{ proposal.date | date:userSettings?.dateFormat ?? ''}}</span></p>
                        <p class="text-base font-semibold print:text-sm print:font-bold flex justify-between w-52"><span>Due Date: </span> <span class="ps-10 text-sm">{{ proposal.dueDate| date:userSettings?.dateFormat ?? ''}}</span></p>
                    </div>
                </div>
    
                <div class="overflow-x-auto">
                    <table class="border-collapse table-auto w-full text-sm mt-10 print:mt-2 whitespace-pre">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="p-4 print:p-1 text-wrap border border-e-0 uppercase text-lg font-medium text-start lg:w-[42.8571%] print:w-[42.8571%]">Product Description</th>
                                <th class="p-4 print:p-1 text-wrap border-y uppercase text-lg font-medium lg:w-[14.2857%] print:w-[14.2857%]">Price</th>
                                <th class="p-4 print:p-1 text-wrap pe-7 border-y uppercase text-lg font-medium lg:w-[14.2857%] print:w-[14.2857%]">Qty</th>
                                <th class="p-4 print:p-1 text-wrap border border-s-0 uppercase text-lg font-medium lg:w-[28.5714%] print:w-[28.5714%]">Total</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @for (item of proposal.items; track $index) {
                                <tr>
                                    <td class="p-5 print:p-1 text-wrap text-base print:text-sm font-medium border lg:w-[42.8571%] print:w-[42.8571%]"><span class="text-sm">{{$index + 1}}.</span> <span>{{item.item.name}} ({{item.item.baseUnitOfMeasure}})</span></td>
                                    <td class="p-5 print:p-1 text-wrap text-base print:text-sm font-medium border text-center lg:w-[14.2857%] print:w-[14.2857%]">{{item.price | customCurrency: currencyCode}}</td>
                                    <td class="p-5 print:p-1 text-wrap text-base print:text-sm font-medium border text-center lg:w-[14.2857%] print:w-[14.2857%]">{{item.quantity}}</td>
                                    <td class="p-5 print:p-1 text-wrap text-base print:text-sm font-medium border text-center lg:w-[28.5714%] print:w-[28.5714%]">{{(item.price * item.quantity) | customCurrency: currencyCode}}</td>
                                </tr>
                            }
                            <tr>
                                <td class="p-8 print:p-3 text-base font-medium border"></td>
                                <td class="p-8 print:p-3 text-base font-medium border text-center"></td>
                                <td class="p-8 print:p-3 text-base font-medium border text-center"></td>
                                <td class="p-8 print:p-3 text-base font-medium border text-center"></td>
                            </tr>
                            <tr class="bg-gray-100">
                                <td colspan="4" class="p-1 ps-5 text-base font-medium border">Note</td>
                            </tr>
                            <tr>
                                <td colspan="3" rowspan="3" class="p-5 text-sm font-medium border border-e-0">
                                    {{proposal.note}}
                                </td>
                                <td class="flex flex-row justify-center p-5 print:py-1 print:px-2 text-base font-medium border text-center bg-gray-100 ">
                                    <div class="flex justify-end w-1/2"><b class="mr-2">Subtotal:</b></div>
                                    <div class="flex justify-start w-1/2"><span>{{proposal.subTotal | customCurrency: currencyCode}}</span></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="flex flex-row justify-center p-5 print:py-1 print:px-2 text-base font-medium border text-center bg-gray-100 ">
                                    <div class="flex justify-end w-1/2"><b class="mr-2">Discount:</b></div>
                                    <div class="flex justify-start w-1/2"><span>{{proposal.discount | customCurrency: currencyCode}}</span></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="flex flex-row justify-center p-5 print:py-1 print:px-2 text-base font-medium border text-center bg-gray-100 ">
                                    <div class="flex justify-end w-1/2"><b class="mr-2">Shipping:</b></div>
                                    <div class="flex justify-start w-1/2"><span>{{proposal.shippingCharges | customCurrency: currencyCode}}</span></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="p-5 print:p-1 text-base font-medium border text-end"><b class="mr-2">Total:</b> <span>{{proposal.amountDue | customCurrency: currencyCode}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
