.desc-width {
    width: 42.8571%; /* 3/7 */
    word-wrap: break-word;
    word-break: break-all;
}
.price-width {
    width: 14.2857%; /* 1/7 */
    word-wrap: break-word;
    word-break: break-all;
}
.qty-width {
    width: 14.2857%; /* 1/7 */
    word-wrap: break-word;
    word-break: break-all;
}
.total-width {
    width: 28.5714%; /* 2/7 */
    word-wrap: break-word;
    word-break: break-all;
}