<div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="px-0">
      <form [formGroup]="priceAdjustmentForm" (ngSubmit)="onSubmit()">
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-12">
            <!-- <h2 class="text-base font-semibold leading-7 text-gray-900">Add Lot</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">This information will update the stock so be careful what you add.</p> -->
            <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-6">
                @if (data && data.hasOwnProperty('name')) {
                    <div class="col-span-full flex flex-col w-full items-center">
                        <label for="item-salePrice" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">
                            Item Name
                        </label>
                        <label for="item-salePrice" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">
                            {{data.name}} ({{data.baseUnitOfMeasure}})
                        </label>
                    </div>
                }
                <div class="col-span-full flex flex-col w-full items-center">
                    <label for="item-salePrice" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Item Price*</label>
                    <div class="mt-2 w-full">
                      <!-- <input type="number" item="item-salePrice" formControlName="salePrice" min="0" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"> -->
                        <p-inputNumber
                        formControlName="salePrice"
                        class="custom-input-class"
                            prefix="€"
                        inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"> </p-inputNumber>
                    <!-- // TODO error messages -->
                      </div>
                </div>
                <div class="col-span-full flex flex-col w-full items-center">
                    <label for="item-effectiveDate" class="pr-4 w-full block text-sm text-left font-medium leading-6 text-gray-900">Effective Date*</label>
                    <div class="mt-2 w-full">
                        <p-calendar
                            appendTo="body"
                            formControlName="effectiveDate"
                            [minDate]="minDate"
                            class="custom-input-class sm:pl-2" [iconDisplay]="'input'" [showIcon]="true">
                        </p-calendar>
                    <!-- // TODO error messages -->
                      </div>
                </div>
            </div>
          </div>
        </div>
    </form>
    
    </div>
  </div>
  <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <button
      (click)="onSubmit()" 
      type="button" 
      class="inline-flex w-full justify-center rounded-md  px-3 py-2 text-sm font-semibold shadow-sm sm:ml-3 sm:w-auto"
      [ngClass]="{'bg-gray-600 hover:bg-gray-500 text-white': priceAdjustmentForm.valid, 'bg-white text-gray-900': !priceAdjustmentForm.valid}"
      [disabled]="!priceAdjustmentForm.valid"
      >Save</button>
    <button 
      (click)="cancel()"
      type="button" 
      class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
      >Cancel</button>
  </div>