

<nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 lg:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a class="inline-flex items-center text-sm font-medium text-gray-700 ">
          <i class="material-icons">description</i>
          Documents
        </a>
      </li>
      <li>
        <div class="flex items-center">
            <i class="material-icons">navigate_next</i>
            <a  routerLink="/invoice" class="ms-1 text-sm font-medium cursor-pointer text-gray-700 hover:text-blue-600 lg:ms-2">
                Invoices
            </a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <i class="material-icons">navigate_next</i>
          <span class="ms-1 text-sm font-medium text-gray-500 lg:ms-2 ">Create</span>
        </div>
      </li>
    </ol>
  </nav>
  