/* You can add global styles to this file, and also import other style files */
@import './tailwind.css';

// Define breakpoints as variables for reuse and maintainability
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Utilize SCSS nesting and the @media query inside the class for clarity
.content-width{
  width: 100%; // Default mobile style

  // Media query for screens larger than mobile, using the variable
  @media (min-width: $breakpoint-lg) {
    width: calc(100% - 16rem); // This applies for screens larger than 768px
  }
}

/* width */
::-webkit-scrollbar {
    scrollbar-width: thin;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
  /* Styling for WebKit-based browsers */
  .scroll-container::-webkit-scrollbar {
    height: 4px; /* Height of the scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar itself */
  }
  
  /* Hover effect for the scrollbar thumb */
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Firefox */
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
  }
  
  .no-scroll {
    overflow: hidden;
    height: 100%;
  }

  .box-shadow {
    // margin-top: 0.25rem;
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }

  /* This targets the dropdown when it is focused */
body .p-dropdown.p-focus .p-dropdown-label,
body .p-dropdown.p-focus .p-dropdown-panel {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* If the dropdown button itself receives focus */
body .p-dropdown.p-focus .p-dropdown-trigger {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

body .p-autocomplete.p-component.p-inputwrapper {
  line-height: 1.5rem;
  padding: 0 0.5rem;
  width: 100%;
  .p-autocomplete-input.p-inputtext.p-component {
    width: 100%;
  }
}

body p-dropdown .p-component.p-inputwrapper {
  width: 100%;
  .p-dropdown-label.p-inputtext.p-component {
    width: 100%;
  }
}

body .p-inputnumber-input {
  padding: 0 0.5rem;
}

body .p-.p-component {
  width: 100%;
}

body .p-calendar {
  width: 100%;
}

body .p-inputnumber {
  width: 100%;
  .p-inputnumber-input {
    width: 100%;
  }
}

body .number-center {
  .p-inputnumber {
    text-align: center;
    .p-inputnumber-input {
      text-align: center;
    }
  }
}

.custom-input-class {
  @apply flex w-full border-2 border-gray-300 bg-white h-10 rounded-lg text-sm focus:outline-none;
}

/* Scoped deep styles */
:host ::ng-deep .p-tabview .p-tabview-nav-container .p-highlight {
  border-bottom: 2px solid 495057 !important;
  padding-bottom: 2px !important;
}

body .p-multiselect.p-multiselect-chip .p-multiselect-label {
  padding: 0.25rem 0.25rem;
}

body .p-multiselect.p-multiselect-chip .p-multiselect-label.p-placeholder {
  padding: 0.5rem 0.5rem;
}

body .p-multiselect {
  display: flex !important;
  width: 100% !important;
}

body .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #495075;
  background: #495075;
}

body .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #495057;
  background: #FFF;
}

body .p-inputtext:disabled {
  background-color: #f6f6f6; /* Light grey background */
  border: 1px solid #e5e5e5; /* Light grey border */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.9; /* Make the element slightly transparent */
}

body .p-inputnumber .p-inputtext:disabled {
  background-color: #f6f6f6; /* Light grey background */
  border: 1px solid #e5e5e5; /* Light grey border */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.9; /* Make the element slightly transparent */
}

body .material-icons.action {
  font-size: 15px;
}